<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get Set | RESTFUL Creatures</title>
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/main.js"></script>
</head>
<body>
  
  <nav>
    <a href="/">Home</a>
    <a href="/dinos">Dinos</a>
    <a href="/dinos/new">New Dino</a>
  </nav>

  <%- body %>

</body>
</html>