<!-- Action is the path to where the data is going -->
<form action="/" method="POST">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="type" placeholder="type">
  <button>Submit</button>
</form>